@charset "utf-8";
/*
  Theme: r2qlxx
  Author: r2qlxx
  Responsive: yes
  Description:
    はてなブログ公式のデザインテーマ"boilerplate"を土台に作成したデザインテーマです。
*/

@import "normalize.css";

@import "./lib/_variable";
@import "./lib/_core";